<div>
    <h1 id="title-welcome">Bienvenido al chat</h1>
</div>
<div>
    <label for="">Escribi algo</label>
    <input id="send" type="text">
</div>
<div id="contenedor-chat">

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
